// device responsiveness setup media query ----------------------

//Medium-screen
@media (max-width:1200px) {
    body{
        justify-content: center;
    }
   
    .smashy-form-container{
        width: auto;
        display: flex;
        justify-content: center;
        background: none;
        }

        form{
            justify-content: center;    
        }

        .form-banner{
            display: none;
        }
    }

//large-screen
@media (min-width:1367px) {

    .smashy-form-container{
        margin-top: 50px;
    }
}

//small-screen
@media (max-width:480px){
    .smashy-form-container{
        form{
            margin: 20px;
        }
    }
}   